---
BasedOnStyle:       Google
IndentWidth:        4
TabWidth:           4
UseTab:             Never

Language:           Cpp
BreakBeforeBraces:  Allman
ColumnLimit:        0
IndentCaseLabels:   false

AlwaysBreakTemplateDeclarations:     true
AlignConsecutiveDeclarations:        true
AlignConsecutiveAssignments:         true
AllowShortIfStatementsOnASingleLine: true
AllowShortFunctionsOnASingleLine:    true
AlignArrayOfStructures:              Right

MaxEmptyLinesToKeep:                1
KeepEmptyLinesAtTheStartOfBlocks:   false

IndentPPDirectives:     BeforeHash
IncludeBlocks:          Merge
AccessModifierOffset:   -4
NamespaceIndentation:   All
PointerAlignment:       Left
DerivePointerAlignment: false
SpaceBeforeParens:      ControlStatements

Standard: Auto
AlignTrailingComments: true
AlignOperands: true
BinPackParameters: false
BinPackArguments:  false

AllowShortLoopsOnASingleLine: false

ConstructorInitializerAllOnOneLineOrOnePerLine: true
BreakConstructorInitializersBeforeComma: true
BreakConstructorInitializers: AfterColon
ConstructorInitializerIndentWidth: 4

BreakBeforeTernaryOperators: true
AllowShortCaseLabelsOnASingleLine: false
AlignEscapedNewlines: Left

...
