[submodule "Test/googletest"]
	path = Test/googletest
	url = https://github.com/CharlesCarley/googletest.git
[submodule "CMake/Modules"]
	path = CMake/Modules
	url = https://github.com/CharlesCarley/CMakeModules.git
[submodule "Internal/Utils"]
	path = Internal/Utils
	url = git@github.com:CharlesCarley/Internal.Utils.git
